laskarit/viikko2/unicafe/src/__pycache__/
laskarit/viikko2/unicafe/src/tests/__pycache__/
laskarit/viikko2/unicafe/.coverage
laskarit/viikko2/unicafe/htmlcov/
src/__pycache__
src/configuration.txt
src/login
src/tests/__pycache__
htmlcov
.coverage
test.db
src\user_mgmt\__pycache__
src\ui\__pycache__
src/user_mgmt/__pycache__/
src/ui/__pycache__/
src/investment_plan_logic/__pycache__
dbcreatetest.db
logintest.db
investmentdb.db
plantest.db